.cart_recap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(60rem, 30%, 100%);
    height: clamp(40rem, 30%, 100%);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    font-size: 1.2em;
}

.item_image {
    align-items: center;
    justify-content: center;
    width: clamp(100px, 30%, 100%);
    height: clamp(100px, 30%, 100%);
    margin: 0.4rem 1rem 1rem 0;
}

.list-group {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}


.cart_title {
    font-size: 1.5rem;
    font-weight: bold;
    flex-basis: 100%;
}

.cart_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

@media (max-width: 576px) {
    .cart_container {
        flex-wrap: wrap;
    }
}