.cards {
    padding: 8rem;
    height: auto;
    background: whitesmoke;
  }

.testeur{
  display: flex;
  flex-direction: row;
  height: auto;
}

 .titleDrone{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
 }
  
  .cards__container {
    /* display: flex; */
    /* flex-flow: column; */
    /* align-items: center; */
    /* max-width: 40%; */
    /* width: 100%; */
    /* margin: 0 auto; */
    padding: 2rem;
    /* height: auto; */
    width: clamp(300px, 30%, 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 1rem;
  }
  
  .cards__wrapper {
    width: 50%;
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .cards__item {
    display: flex;
    margin: 0 1rem;
    border-radius: 10px;
    
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 1rem 0;
  }
  
  .cards__item__text {
    height: 2.5rem;
    color: #252e48;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .cards__item__desc{
    text-align: justify;
    color: #252e48;
    font-size: 15px;
    height: auto;
  }

  .cards__item__price{
    color: #1f98f4;
    font-size: 15px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  

  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 768px){
    .cards > h1{
        font-size: 20px;
        padding-top: 110px;
    }

    .cards {
      padding: 0rem;
    }

    .cards__container{
      max-width: none;
    }

    .titleDrone{
      margin-top: 25%;
    }
}

.cards__item__dispo {
  color: rgb(64, 190, 64);
}

.cards__item__indispo {
  color: rgb(183, 121, 22);
}

.cards__item__dispo::before, .cards__item__res::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #40be40;
  margin-right: 5px;
}

.cards__item__res {
  color: #FFE53B;
}

.cards__item__res::before {
  background-color: #FFE53B;
}
