.myNavbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23, 0.8) 100%);
    height: 80px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 1.2rem;
    /* position: fixed; */
    top: 0;
    z-index: 999;
    /* flex: 1; */
  }
  
  .navbar-container {
    display: flex;
    width: 100%;
    /* justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px; */
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: #fff;
    padding: 0 1rem;
    justify-self: start;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-gap: 10px;
    text-align: center;
    /* width: 60vw; */
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    letter-spacing: 1px;
  }
  
  .nav-links:hover {
    text-decoration: none;
    transition: all 0.2s ease-out;
    color: #229ee4;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-bottom: 3rem;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 25px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #229ee4;
      border-color: #229ee4;
      color: #fff;
      transition: 250ms;
    }
  }

.colorCompany{
    color: #3caae9;
}

.notEmpty {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(23px, -23px);
  background-color: #229ee4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}