
.cards_container {
    display: flex;
    flex-wrap: wrap;
}

.cards_container > * {
    flex: 1;
}

.productCarousel {
    width: clamp(300px, 50%, 100%);
    flex-basis: 100%;
}

.productCarousel img {
    display: flex;
    margin-inline: auto;
    width: 60%;
    object-fit: cover;
}

.productDesc {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.productDesc > * {
    flex: 1;
    min-width: 320px;
}

.datePicker {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.cardProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    /* background-color: tomato; */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.card__item__info {
    width: 80%;
    background-color: rgb(221, 216, 208);
    padding: 1rem;
    border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
    .cardProduct {
        width: 100%;
    }
    .card__item__info {
        width: 100%;
    }
}
    
