.detailsUsers {
    background: url('../../public/images/img-sign3.jpg') center center/cover no-repeat;
    height: auto;
    display: flex;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.2);
    object-fit: contain;
    /* background-color: lime; */
}

.submitSection>a {
    text-decoration: none;
}

.cart_item__img {
    width: 100%;
    height: 100%;
}

.item_image {
    height: auto;
    margin: 0.4rem 1rem 1rem 0;
}