.detailsUsers {
    background: url('../../public/images/img-sign3.jpg') center center/cover no-repeat;
    height: auto;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.2);
    object-fit: contain;
    /* background-color: whitesmoke; */
}

.submitSection>a {
    text-decoration: none;
}