.detailsUsers {
    background: url('../../public/images/img-sign3.jpg') center center/cover no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.2);
    object-fit: contain;
    /* background-color: lime; */
}

.submitSection>a {
    text-decoration: none;
}

.cart_item__img {
    width: clamp(100px, 300px, 50%);
    height: auto;
}

.item_image_history {
    height: auto;
    margin: 0.4rem 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0.5rem;
    padding: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}