* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
  }
  
a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;    
  }
  
  .services {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .hero {
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .hero_overlay {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;

  }

  .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
  }

  .hero h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  @media only screen and (max-width: 1024px) {
    .hero h1 {
      font-size: 1.5rem;
    }
  }